FlightReservationSystemSeClient/src/META-INF/wsdl/localhost_8080/HolidayReservationService/HolidayReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayReservationService/HolidayReservationService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveFlightReservationsByPartner">
<part name="parameters" element="tns:retrieveFlightReservationsByPartner"/>
</message>
<message name="retrieveFlightReservationsByPartnerResponse">
<part name="parameters" element="tns:retrieveFlightReservationsByPartnerResponse"/>
</message>
<message name="retrieveReservationByReservationIdPartner">
<part name="parameters" element="tns:retrieveReservationByReservationIdPartner"/>
</message>
<message name="retrieveReservationByReservationIdPartnerResponse">
<part name="parameters" element="tns:retrieveReservationByReservationIdPartnerResponse"/>
</message>
<message name="retrieveTickets">
<part name="parameters" element="tns:retrieveTickets"/>
</message>
<message name="retrieveTicketsResponse">
<part name="parameters" element="tns:retrieveTicketsResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<portType name="HolidayReservationService">
<operation name="retrieveFlightReservationsByPartner">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveFlightReservationsByPartnerRequest" message="tns:retrieveFlightReservationsByPartner"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveFlightReservationsByPartnerResponse" message="tns:retrieveFlightReservationsByPartnerResponse"/>
</operation>
<operation name="retrieveReservationByReservationIdPartner">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveReservationByReservationIdPartnerRequest" message="tns:retrieveReservationByReservationIdPartner"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveReservationByReservationIdPartnerResponse" message="tns:retrieveReservationByReservationIdPartnerResponse"/>
</operation>
<operation name="retrieveTickets">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveTicketsRequest" message="tns:retrieveTickets"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveTicketsResponse" message="tns:retrieveTicketsResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
</operation>
</portType>
<binding name="HolidayReservationServicePortBinding" type="tns:HolidayReservationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveFlightReservationsByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationByReservationIdPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolidayReservationService">
<port name="HolidayReservationServicePort" binding="tns:HolidayReservationServicePortBinding">
<soap:address location="http://localhost:8080/HolidayReservationService/HolidayReservationService"/>
</port>
</service>
</definitions>