FlightReservationSystemSeClient/xml-resources/web-service-references/HolidayReservationService/wsdl/localhost_8080/HolidayReservationService/HolidayReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayReservationService/HolidayReservationService?xsd=1"/>
</xsd:schema>
</types>
<message name="searchDirectFlights">
<part name="parameters" element="tns:searchDirectFlights"/>
</message>
<message name="searchDirectFlightsResponse">
<part name="parameters" element="tns:searchDirectFlightsResponse"/>
</message>
<message name="searchDirectFlightsBefore">
<part name="parameters" element="tns:searchDirectFlightsBefore"/>
</message>
<message name="searchDirectFlightsBeforeResponse">
<part name="parameters" element="tns:searchDirectFlightsBeforeResponse"/>
</message>
<message name="searchDirectFlightsAfter">
<part name="parameters" element="tns:searchDirectFlightsAfter"/>
</message>
<message name="searchDirectFlightsAfterResponse">
<part name="parameters" element="tns:searchDirectFlightsAfterResponse"/>
</message>
<message name="searchConnectingFlightsBefore">
<part name="parameters" element="tns:searchConnectingFlightsBefore"/>
</message>
<message name="searchConnectingFlightsBeforeResponse">
<part name="parameters" element="tns:searchConnectingFlightsBeforeResponse"/>
</message>
<message name="searchConnectingFlights">
<part name="parameters" element="tns:searchConnectingFlights"/>
</message>
<message name="searchConnectingFlightsResponse">
<part name="parameters" element="tns:searchConnectingFlightsResponse"/>
</message>
<message name="retrieveHighestFareUnmanaged">
<part name="parameters" element="tns:retrieveHighestFareUnmanaged"/>
</message>
<message name="retrieveHighestFareUnmanagedResponse">
<part name="parameters" element="tns:retrieveHighestFareUnmanagedResponse"/>
</message>
<message name="searchConnectingFlightsAfter">
<part name="parameters" element="tns:searchConnectingFlightsAfter"/>
</message>
<message name="searchConnectingFlightsAfterResponse">
<part name="parameters" element="tns:searchConnectingFlightsAfterResponse"/>
</message>
<message name="getCabinClassConfig">
<part name="parameters" element="tns:getCabinClassConfig"/>
</message>
<message name="getCabinClassConfigResponse">
<part name="parameters" element="tns:getCabinClassConfigResponse"/>
</message>
<message name="retrieveFlightScheduleByIdUnmanaged">
<part name="parameters" element="tns:retrieveFlightScheduleByIdUnmanaged"/>
</message>
<message name="retrieveFlightScheduleByIdUnmanagedResponse">
<part name="parameters" element="tns:retrieveFlightScheduleByIdUnmanagedResponse"/>
</message>
<message name="FlightScheduleNotFoundException">
<part name="fault" element="tns:FlightScheduleNotFoundException"/>
</message>
<message name="retrieveFlightReservationsByPartner">
<part name="parameters" element="tns:retrieveFlightReservationsByPartner"/>
</message>
<message name="retrieveFlightReservationsByPartnerResponse">
<part name="parameters" element="tns:retrieveFlightReservationsByPartnerResponse"/>
</message>
<message name="retrieveReservationByReservationIdPartner">
<part name="parameters" element="tns:retrieveReservationByReservationIdPartner"/>
</message>
<message name="retrieveReservationByReservationIdPartnerResponse">
<part name="parameters" element="tns:retrieveReservationByReservationIdPartnerResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="retrieveTickets">
<part name="parameters" element="tns:retrieveTickets"/>
</message>
<message name="retrieveTicketsResponse">
<part name="parameters" element="tns:retrieveTicketsResponse"/>
</message>
<portType name="HolidayReservationService">
<operation name="searchDirectFlights">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/searchDirectFlightsRequest" message="tns:searchDirectFlights"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/searchDirectFlightsResponse" message="tns:searchDirectFlightsResponse"/>
</operation>
<operation name="searchDirectFlightsBefore">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/searchDirectFlightsBeforeRequest" message="tns:searchDirectFlightsBefore"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/searchDirectFlightsBeforeResponse" message="tns:searchDirectFlightsBeforeResponse"/>
</operation>
<operation name="searchDirectFlightsAfter">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/searchDirectFlightsAfterRequest" message="tns:searchDirectFlightsAfter"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/searchDirectFlightsAfterResponse" message="tns:searchDirectFlightsAfterResponse"/>
</operation>
<operation name="searchConnectingFlightsBefore">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/searchConnectingFlightsBeforeRequest" message="tns:searchConnectingFlightsBefore"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/searchConnectingFlightsBeforeResponse" message="tns:searchConnectingFlightsBeforeResponse"/>
</operation>
<operation name="searchConnectingFlights">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/searchConnectingFlightsRequest" message="tns:searchConnectingFlights"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/searchConnectingFlightsResponse" message="tns:searchConnectingFlightsResponse"/>
</operation>
<operation name="retrieveHighestFareUnmanaged">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveHighestFareUnmanagedRequest" message="tns:retrieveHighestFareUnmanaged"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveHighestFareUnmanagedResponse" message="tns:retrieveHighestFareUnmanagedResponse"/>
</operation>
<operation name="searchConnectingFlightsAfter">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/searchConnectingFlightsAfterRequest" message="tns:searchConnectingFlightsAfter"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/searchConnectingFlightsAfterResponse" message="tns:searchConnectingFlightsAfterResponse"/>
</operation>
<operation name="getCabinClassConfig">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/getCabinClassConfigRequest" message="tns:getCabinClassConfig"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/getCabinClassConfigResponse" message="tns:getCabinClassConfigResponse"/>
</operation>
<operation name="retrieveFlightScheduleByIdUnmanaged">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveFlightScheduleByIdUnmanagedRequest" message="tns:retrieveFlightScheduleByIdUnmanaged"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveFlightScheduleByIdUnmanagedResponse" message="tns:retrieveFlightScheduleByIdUnmanagedResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveFlightScheduleByIdUnmanaged/Fault/FlightScheduleNotFoundException"/>
</operation>
<operation name="retrieveFlightReservationsByPartner">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveFlightReservationsByPartnerRequest" message="tns:retrieveFlightReservationsByPartner"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveFlightReservationsByPartnerResponse" message="tns:retrieveFlightReservationsByPartnerResponse"/>
</operation>
<operation name="retrieveReservationByReservationIdPartner">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveReservationByReservationIdPartnerRequest" message="tns:retrieveReservationByReservationIdPartner"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveReservationByReservationIdPartnerResponse" message="tns:retrieveReservationByReservationIdPartnerResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
</operation>
<operation name="retrieveTickets">
<input wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveTicketsRequest" message="tns:retrieveTickets"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationService/retrieveTicketsResponse" message="tns:retrieveTicketsResponse"/>
</operation>
</portType>
<binding name="HolidayReservationServicePortBinding" type="tns:HolidayReservationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchDirectFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDirectFlightsBefore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchDirectFlightsAfter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchConnectingFlightsBefore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchConnectingFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveHighestFareUnmanaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchConnectingFlightsAfter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCabinClassConfig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightScheduleByIdUnmanaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFlightReservationsByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationByReservationIdPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolidayReservationService">
<port name="HolidayReservationServicePort" binding="tns:HolidayReservationServicePortBinding">
<soap:address location="http://localhost:8080/HolidayReservationService/HolidayReservationService"/>
</port>
</service>
</definitions>